.bg-intro{
    background-image: url('../images//BackgroundSplash.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;  
    
}
.tamañoTitle{
    font-size: 50px;
}

.tamañoSub{
    font-size: 20px;
    text-align: center;
}

.marginBie{
    margin: 200px 0px 40px 0px;
}

.marginReg{
    margin-bottom: 150px;    
}

.video-responsive {
    position: relative;
    padding-bottom: 40%; /* 16/9 ratio */    
    }
    
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    width: 90%;
    height: 100%;
    }