.bg-intro{
    background-image: url('../images//BackgroundSplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    height:100%;
    width:100%;
    color: aliceblue;
    position: fixed;
        
}
.tamañoTitle{
    font-size: 50px;
}

.tamañoSub{
    font-size: 20px;
    text-align: center;
}

.marginBie{
    margin: 0 auto;
}

.marginReg{
    margin-bottom: 150px;    
}

.video-responsive {
    padding-bottom: 40%;
    padding-top: 10px;
    margin:  0 auto;
    }
    
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    

    }