.bg-login{
    background-image: url('../images//BackgroundSplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    height: 100vh; 

}

.margin{
    margin: 40px 0px 0px 0px;
}

.marginform{
    height: 500px;
    width: 350px;
    margin: 50px 0px 20px 0px;
    padding: 0px 15px 0px 15px
}