.bg-signIn{
    background-image: url('../images//BackgroundSplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    height: 100vh; 

}

.margin{
    margin: 30px 0px 20px 0px;
}

.marginform{
    height: 600px;
    width: 390px;
    margin: 20px 0px 25px 0px;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
}